################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/USBIO24rApp/FileContentIndex/09c5f8b6-4194-48e6-8809-867373ff136a.vsidx
/.vs/USBIO24rApp/FileContentIndex/61b4f77c-3f32-49f4-9236-cb420073cb87.vsidx
/.vs/USBIO24rApp/FileContentIndex/b0fc2b35-6bbf-46ab-b09f-a0e8e9c92163.vsidx
/.vs/USBIO24rApp/FileContentIndex/b81ea2bf-708c-4074-a156-b2af90620dd4.vsidx
